.flex-container {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* flex-wrap: wrap; */
  background-color: aliceblue;
  width: 300px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
